@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vazirmatn:wght@100..900&display=swap');

body {
  font-family: 'Vazirmatn', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #030C16;
  margin: 0;
  padding: 0;
  overflow: visible;
  direction: rtl;
  text-align: right;
}

.smalllogo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.doctitle {
  font-size: 80px;
  line-height: 1;
  padding-top: 100px;
  letter-spacing: -0.05em;
  font-weight: 900;
  text-align: center;
}

.docversion {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.20em;
  text-transform: uppercase;
  color: #030C16;
  text-align: center;
  padding-top: 40px;
}

.doclink {
  border-radius: 6px;
  background-color: #1D7BD7;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Vazirmatn', sans-serif;
  font-weight: 900;
  padding: 5px 10px;
  margin: 0 280px;
  text-align: center;
}

.docdate {
  font-size: 13px;
  font-style: italic;
  line-height: 1;
  padding-bottom: 250px;
  white-space: nowrap;
  color: #030C16;
  text-align: center;
  padding-top: 20px;
}

.frontpage {
  background-position: center;
  background-size: 100% 137%;
  height: 950px;
  overflow: hidden;
}

.published {
  font-weight: bold;
  font-style: italic;
}

h1 {
  width: 100vw;
  background-size: cover;
  color: #000;
  margin-top: 600px;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
  margin-bottom: 100px;
  text-align: start;
  vertical-align: middle;
  font-family: "Vazirmatn", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  page-break-after: avoid;
  letter-spacing: -0.02em;
  page-break-before: always;
  overflow: visible;
  line-height: 1;
  border-bottom: 10px solid rgb(7, 151, 252);
  padding-bottom: 10px;
}

h2,
h6 {
  width: 70vw;
  background-size: cover;
  color: #000;
  margin-top: 20px;
  margin-inline-start: 100px;
  margin-inline-end: 0px;
  margin-bottom: 30px;
  text-align: start;
  vertical-align: middle;
  font-family: "Vazirmatn", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  page-break-after: avoid;
  letter-spacing: -0.02em;
  page-break-before: always;
  overflow: visible;
  line-height: 1;
  border-bottom: 8px solid rgb(7, 151, 252);
  padding-bottom: 10px;
  padding-inline-end: 10px;
}

h6 {
  margin-top: 200px;
}

h3 {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  page-break-after: avoid;
  margin-top: 30px;
  letter-spacing: -0.02em;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  color: #030C16;
  text-align: start;
}

h4 {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  page-break-after: avoid;
  margin-top: 20px;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  margin-bottom: 0px;
  color: #030C16;
  text-align: start;
}

h5 {
  font-family: "Vazirmatn", sans-serif;
  font-size: 17px;
  font-weight: 600;
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
  line-height: 1.1;
}

a {
  color: rgb(7, 151, 252);
  font-weight: 500;
  text-decoration: underline;
}

p {
  margin-inline-start: 100px;
  margin-top: 0;
}

p,
ul,
ol {
  margin-inline-end: 100px;
  margin-inline-start: 100px;
  margin-bottom: 20px;
  text-align: start;
}

p,
li {
  page-break-inside: avoid;
}

li {
  margin-inline-start: 5px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-inline-start: 0;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

table td {
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  padding: 4px 8px;
  line-height: 1.5;
  vertical-align: bottom;
  position: relative;
  text-align: start;
}

table td:last-child {
  text-align: start;
  white-space: nowrap;
}

table tr td:first-child::after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0.4em;
  height: 1px;
  width: 100%;
  z-index: -1;
}

table tr:not(:last-child) td {
  border-bottom: 1px dotted #ccc;
}

table td:first-child {
  padding-inline-start: 2em;
}

table td:first-child:has(strong),
table td:first-child:has(b),
table td:first-child[style*="font-weight:bold"] {
  padding-inline-start: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

@page {
  size: a4 portrait;
  margin-top: 22mm;
}

@media print {
  h2 {
    display: inline-block;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
  }

  table {
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}
