## Explicit Match Any:
*   @GangGreenTemperTatum @virtualsteve-star

# Shared Community Files and Areas:
# TBC

## Either Ads or Steve can approve changes to CODEOWNERS or github:
CODEOWNERS @GangGreenTemperTatum @virtualsteve-star
.github/ @GangGreenTemperTatum @virtualsteve-star

## Data Gathering
data_gathering/* @emmanuelgjr @GangGreenTemperTatum

# Top 10 Vulnerabilities and Leads:
## Use **/ to match files in any directory
## LLM01:
**/PromptInjection.md @cybershujin
## LLM02:
**/LLM02_SensitiveInformationDisclosure.md @kenhuangus
## LLM03:
**/SupplyChainVulnerabilities.md @jsotiro
## LLM04:
**/DataModelPoisoning.md @GangGreenTemperTatum
## LLM05:
**/LLM05_ImproperOutputHandling.md @GangGreenTemperTatum
## LLM06:
**/ExcessiveAgency.md @rot169
## LLM07:
**/SystemPromptLeakage.md @vingiarrusso @Greenterminals12
## LLM08: # TODO need to check Krishna's handle
**/VectorAndEmbeddingWeaknesses.md @xsankar
## LLM09:
**/Misinformation.md @virtualsteve-star
## LLM10:
**/UnboundedConsumption.md @GangGreenTemperTatum

## Template:
_template.md @rossja

## Translations:
2_0_vulns/translations @talesh

## Agentic Security Initiative (ASI) under the Top 10 for LLM and Gen AI Project
agent_security_initiative/ #guerilla7