@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;800&display=swap');



.smalllogo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.doctitle{
  font-size: 80px;
  line-height: 1;
  padding-top: 100px;
  letter-spacing: -0.05em;
  font-weight: 900;
  text-align: center;
}
.docversion{
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.20em;
  text-transform: uppercase;
  color: #030C16;
  text-align: center;
  padding-top: 40px;

}
.doclink {
  border-radius: 6px;
  background-color: #1D7BD7;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  padding: 5px 10px;
  margin: 0 280px;
  text-align: center;
}
.docdate{
  font-size: 13px;
  font-style: italic;
  line-height: 1;
  padding-bottom: 250px;
  white-space: nowrap;
  color: #030C16;
  text-align: center;
  padding-top: 20px;

}
.frontpage {
  background: url('/img/title-background.png') no-repeat;
  background-position: center;
  background-size: 100% 137%;
  height: 900px;
  overflow: hidden;
}


.published {
  font-weight: bold;
  font-style: italic;
}

body {
  background-color: #fff;
  font-family: 'Noto Sans SC', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13.33px;
  line-height: 20px;
  color: #030C16;
  margin: 0;
  padding: 0;
  overflow: visible;
}

h2 {
  width: 100vw;
  height: 100px;
  background: url('/img/header-background.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
  font-weight: 800;
  font-size: 32px;
  page-break-after: avoid;
  letter-spacing: -0.02em;
  line-height: 100px;
  page-break-before: always;
  overflow: visible;
}

h3 {
  font-weight: 800;
  font-size: 21.33px;
  line-height: 17.33px;
  position: relative;
  top: 20px;
  page-break-after: avoid;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  color: #030C16;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 14px;
  page-break-after: avoid;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  color: #030C16;
}

a {
  color: #030C16; /* Default color */
  font-weight: 500;
  text-decoration: underline;
}

p {
  margin-left: 100px;
}

p,
ul,
ol {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 20px;
}

p,
li {
  page-break-inside: avoid;
}

li {
  margin-left: 5px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-left: 0;
}

@page {
  size: a4 portrait;
  margin-top: 22mm;
}

@media print {
  h2 {
    width: 10%;
    margin-top: -5mm !important;
  }
}
