@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;800&display=swap');

body {
  background-color: #fff;
  font-family: 'Noto Sans SC', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13.33px;
  line-height: 20px;
  color: #030C16;
  margin: 0;
  padding: 0;
  overflow: visible;
}

h2 {
  width: 100vw;
  height: 100px;
  background: url('/img/header-background.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
  font-weight: 800;
  font-size: 32px;
  page-break-after: avoid;
  letter-spacing: -0.02em;
  line-height: 100px;
  page-break-before: always;
  overflow: visible;
}

h3 {
  font-weight: 800;
  font-size: 21.33px;
  line-height: 17.33px;
  page-break-after: avoid;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  color: #030C16;
}

a {
  color: #007bff; /* Base link color */
  font-weight: 800;
  text-decoration: none; /* Removes the default underline */
  transition: color 0.3s ease; /* Smooth color transition */
}

a:hover, a:focus {
  color: #0056b3; /* Color when hovered or focused */
  font-weight: 800;
  text-decoration: underline; /* Adds underline on hover/focus */
}

/* Optional: Style for visited links */
a:visited {
  font-weight: 800;
  color: #6c757d;
}

p {
  margin-left: 100px;
}

p,
ul,
ol {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 20px;
}

p,
li {
  page-break-inside: avoid;
}

li {
  margin-left: 5px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-left: 0;
}


@page {
  size: a4 portrait;
  margin-top: 22mm;
}

@media print {
  h2 {
    width: 10%;
    margin-top: -5mm !important;
  }
}